//Colors
$lightBlueC: #2196f3;
$lightBlueHoverC: #47a7f5;
$lightBlueActiveC: #6eb9f7;

$blackC: #333;
$blackTransparentC: #1b1a1a;

$WhiteC: #fff;

$grayC: #ccc;

$redBtn: #f32121;
$redBtnTransparentC: #ad0000;
$redBtnBorderC: 1px solid rgba(196, 196, 196, 0.26);


//font
$fontSS : 'Open Sans', sans-serif;

$blackShadowC:  0 0 4px #999;

//pading
$estandarPadding: 15px;