@import '../mixins/mixins';

.Accordion {     
    display: block;
    box-shadow: $blackShadowC;
    margin: 0 auto;

    &-container {
        margin: 0 auto 30px;

        .Accordion-noData {
            padding: $estandarPadding;
        }
    }    

    &-panel {     
        @include rippleEffect();
        
        &:hover {
            background: $lightBlueHoverC radial-gradient(circle, transparent 1%, $lightBlueHoverC 1%) center/15000%;
        }
        
        &:active {
            background-color: $lightBlueActiveC;
            background-size: 100%;
            transition: background 0s;
        }

        &.is-active {
            background: $lightBlueHoverC radial-gradient(circle, transparent 1%, $lightBlueHoverC 1%) center/15000%;
        }

    }

    &-content {
        display: none;                  
        margin: 0;  
        padding: 10px 15px;       
        border-left: 1px solid $grayC;
        border-right: 1px solid $grayC; 
    }

    .Accordion-panel {
        &.is-active {
            + .Accordion-content {
                display: block;
            }
        }        
    }
 
    
    &.AccordionNoJs {
        display: block;        
                
        .Accordion-labelTrigger {
            @include rippleEffect();    
            display: block;
           
            &:active {
                background: $lightBlueHoverC radial-gradient(circle, transparent 1%, $lightBlueHoverC 1%) center/15000%;
            }

            &:hover {
                background: $lightBlueHoverC radial-gradient(circle, transparent 1%, $lightBlueHoverC 1%) center/15000%;
            }                    
        }

        .Accordion-ipt,
        .Accordion-content {
            display: none;
        }                
        
        .Accordion-ipt:checked {
            +.Accordion-content {
                display: block;
            }
        }

        .Accordion-ipt:checked ~ label {
            background: $lightBlueHoverC radial-gradient(circle, transparent 1%, $lightBlueHoverC 1%) center/15000%;
        }

    }
}