@import '../mixins/mixins';

.accordion {     
    display: block;
    box-shadow: $blackShadowC;
    margin: 0 auto;

    &-container {
        margin: 0 auto 30px;

        .accordion-noData {
            padding: $estandarPadding;
        }
    }    

    &-panel {     
        @include rippleEffect();
        
        &:hover {
            background: $lightBlueHoverC radial-gradient(circle, transparent 1%, $lightBlueHoverC 1%) center/15000%;
        }

        &--active {
            background: $lightBlueHoverC radial-gradient(circle, transparent 1%, $lightBlueHoverC 1%) center/15000%;
        }
        
        &:active {
            background-color: $lightBlueActiveC;
            background-size: 100%;
            transition: background 0s;
        }

    }

    &-content {
        display: none;                  
        margin: 0;  
        padding: 10px 15px;       
        border-left: 1px solid $grayC;
        border-right: 1px solid $grayC; 
    }

    .accordion-panel {
        &--active {
            + .accordion-content {
                display: block;
            }
        }        
    }
 
    
    &.no-js {
        display: block;        
                
        .accordionLabelTrigger {
            @include rippleEffect();    
            display: block;                    
        }

        .accordionIpt,
        .accordion-content {
            display: none;
        }                
        
        .accordionIpt:checked {
            +.accordion-content {
                display: block;
            }
        }
    }
}