.btn {
    cursor: pointer;
    font-family: $fontSS;
    font-size: 14px;
    font-weight: 100;
    padding: $estandarPadding;
    outline: none;
    border-radius: 4px;
    color: $blackC;
    border: 1px solid $blackTransparentC;
    margin-bottom: 15px;

    

    &.btnRed {
        background-color: $redBtn;
        transition: background 0.8s;
        background-position: center;
        border: 1px solid #f3212100;
        border-bottom: $redBtnBorderC;
        color: #fff;
        
        &:active {
            background: $redBtnTransparentC radial-gradient(circle, transparent 1%, $redBtnTransparentC 1%) center/15000%;
            background-size: 100%;
            transition: background 0s;
        }
    }    
}