@mixin rippleEffect () {
    border-bottom: 0;                
    background-color: $lightBlueC;
    background-position: center;
    border: 1px solid $lightBlueC;    
    border-bottom: 1px solid rgba(196, 196, 196, 0.26);    
    color: white;
    cursor: pointer;
    font-family: $fontSS;
    font-size: 16px;
    font-weight: 100;
    padding: $estandarPadding;
    outline: none;        
    transition: background 0.8s;
}